name: tests

on: [ push ]

jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - name: clone repository
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: install Python
        uses: actions/setup-python@v2
      - name: install flake8
        run: pip install flake8
      - name: lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
  test:
    needs: lint
    name: test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]
        python-version: [ '3.6', '3.x' ]
    steps:
      - name: clone repository
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: install Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: load cached Python packages
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: pip-${{ runner.os }}-${{ env.pythonLocation }}-${{ hashFiles('pyproject.toml', 'setup.*') }}
      - name: load cached Python installation
        id: cache
        uses: actions/cache@v3
        with:
          path: ${{ env.pythonLocation }}
          key: build-${{ runner.os }}-${{ env.pythonLocation }}-${{ hashFiles('pyproject.toml', 'setup.*') }}-${{ hashFiles('pyterraintree/cython/*', 'modules/*') }}
      - name: install Boost
        if: steps.cache.outputs.cache-hit != 'true'
        uses: MarkusJx/install-boost@v2.2.0
        with:
          boost_version: 1.78.0
      - name: install Eigen on Linux
        if: steps.cache.outputs.cache-hit != 'true' && matrix.os == 'ubuntu-latest'
        run: sudo apt install libeigen3-dev
      - name: install Eigen on Windows
        if: steps.cache.outputs.cache-hit != 'true' && matrix.os == 'windows-latest'
        run: choco install eigen
      - name: build extension
        if: steps.cache.outputs.cache-hit != 'true'
        run: pip install .
      - name: install dependencies
        run: pip install pytest pytest-xdist
      - name: run tests
        if: matrix.python-version != '3.x' || runner.os != 'Linux'
        run: pytest --numprocesses auto
      - name: run tests with coverage
        if: matrix.python-version == '3.x' && runner.os == 'Linux'
        run: |
          pip install pytest-cov
          pytest --numprocesses auto --cov . --cov-report xml:coverage.xml
      - name: upload coverage to Codecov
        if: matrix.python-version == '3.x' && runner.os == 'Linux'
        uses: codecov/codecov-action@v2.1.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: coverage.xml
          fail_ci_if_error: true
